<button *ngIf="!edited" md-fab (click)="open()">
<md-icon>add</md-icon>
</button>

<button *ngIf="edited" md-fab (click)="close()">
<md-icon>close</md-icon>
</button>

<app-standard-form *ngIf="edited"></app-standard-form>

<md-card *ngFor="let standard of standardlist">
    <md-card-subtitle>{{standard.field}} | {{standard.subfield}} | {{standard.domain}}
    <p class="right"> 
  {{standard.number}}
  </p></md-card-subtitle>
    <md-card-title>{{standard.standardtype}} | {{standard.assessmenttype}} | {{standard.level}} | {{standard.credits}} Credits
    </md-card-title>

    <md-card-content>
      {{standard.title}}
    </md-card-content>
</md-card>