<div class="container">
<app-circle [credits]="'150'"></app-circle>
<app-circle [credits]="'90'"></app-circle>
<app-circle [credits]="'40'"></app-circle>
</div>
<br>

<md-checkbox [(ngModel)]="l1check" (change)="setlevel()">Level 1</md-checkbox>
<md-checkbox [(ngModel)]="l2check" (change)="setlevel()">Level 2</md-checkbox>
<md-checkbox [(ngModel)]="l3check" (change)="setlevel()">Level 3</md-checkbox>







<md-card *ngFor="let standard of filteredlist">
        <md-card-subtitle>{{standard.field}} | {{standard.subfield}} | {{standard.domain}}
        <p class="right"> 
      {{standard.number}}
      </p></md-card-subtitle>
        <md-card-title>{{standard.standardtype}} | {{standard.assessmenttype}} | {{standard.level}} | {{standard.credits}} Credits
        </md-card-title>

        <md-card-content>
          {{standard.title}}
        </md-card-content>
</md-card>


