
<md-sidenav-container>
      <md-sidenav mode="side" opened="true">      
        <md-list>
          <md-list-item *ngFor="let subject of subjectslist" dnd-draggable [dragEnabled]="true" [dragData]="subject">
            <h3 md-line> {{subject.$key}} </h3>
            <p md-line>
              <span> {{subject.name}} </span>
              <span class="demo-2"> -- {{subject.description}} </span>
            </p>
          </md-list-item>
        </md-list>
      </md-sidenav>  

    <app-subject-group-form [student]=student> </app-subject-group-form> 

 

 	<app-my-subject-list (removegroup)="removeGroupClicked($event)" *ngFor="let group of subjectGroupList" [subjectgroup]="group" 
	dnd-droppable (onDropSuccess)="transferDataSuccess(group.$key, $event.dragData.$key)" 
	></app-my-subject-list>	

 
  	
</md-sidenav-container>









