<md-tab-group>
  <md-tab label="Organise Subjects">

    <md-sidenav-container>
      <md-sidenav mode="side" opened="true">      
        <md-list>
          <md-list-item *ngFor="let standard of standardlist" dnd-draggable [dragEnabled]="true" [dragData]="standard">
            <h3 md-line> {{standard.domain}} </h3>
            <p md-line>
              <span> {{standard.number}} </span>
              <span class="demo-2"> -- {{standard.title}} </span>
            </p>
          </md-list-item>
        </md-list>
      </md-sidenav>   
      <md-card 
    dnd-droppable 
    *ngFor="let subject of subjectlist"
    (onDropSuccess)="transferDataSuccess(subject,$event)">

    <md-card-subtitle> {{subject.faculty}}
      <p class="right"> 
      {{subject.code}}
      </p>
    </md-card-subtitle>
    <md-card-title>{{subject.name}}</md-card-title>
      <md-card-content>
        <b>{{subject.description}}</b>
        <app-subject-standard-list [subject]="subject"></app-subject-standard-list>
      </md-card-content>

      <md-card-actions>
        <a [routerLink]="[subject.$key,'standards' ]" md-button color="primary">Standards</a>
      </md-card-actions>
      </md-card>
    </md-sidenav-container>  
  </md-tab>

  <md-tab label="Subject List">
    <md-card *ngFor="let subject of subjectlist">

      <md-card-subtitle> {{subject.faculty}}
        <p class="right"> {{subject.code}}</p>
      </md-card-subtitle>
      <md-card-title>
        {{subject.name}}
      </md-card-title>
      <md-card-content>
        <b>{{subject.description}}</b>
        <app-subject-standard-list [subject]="subject"></app-subject-standard-list>     
      </md-card-content>
      <md-card-actions>
        <a [routerLink]="[subject.$key,'standards' ]" md-button color="primary">Standards</a>
      </md-card-actions>
    </md-card>    
  </md-tab> 

  <md-tab label="New Subject">
    <app-subject-form></app-subject-form>
  </md-tab>
</md-tab-group>







