md-fab {    
	left: 250px;
}

md-card {
	width: 500px;
	margin: auto;
	margin-bottom: 1px;
}

md-card-subtitle {
   display: -webkit-flex;
   display: flex;
}

b {
	color: grey;
}

.right {
	margin-left: auto;
}

.dnd-drag-start {
    background-color: yellow;
}

.dnd-drag-over {
    background-color: yellow;
}