<md-toolbar [color]="primary">
  <span>Rond</span>
  <span class="right"> 
  		<span *ngIf="as.auth" >{{ as.auth?.auth.displayName }}</span>
 	<button md-button *ngIf="!as.auth" (click)="login()" >Log In</button>

  </span>
</md-toolbar>

<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     {{link.label}}
  </a>
</nav>

<router-outlet></router-outlet>
<!-- 
<app-admin></app-admin> -->